/* 以下為柏榕更改後新增的CSS */

/* 柏榕常用偷懶css */
.dpk{
    display:inline-block ;
}
.mgL5{
    margin-left: 5px;
}

/* 7.AlertMessage */


.PJbtn{
    background-color:#7AC943;
    font-weight: bold;
    color: #fff;
}


/* 8.AlertFailMessage */

.PJFailbtn{
    background-color: #f96363;
    color: #fff;
     font-weight: bold;
}

/* 9.Paysuccess */

.processDetail{
    color: #FF2D55;
    font-size: 30px;
}

/* 以下為ProductChoice的修改 */

.imgSize{
    width: 360px;
    height: 240px;
}

.posTitle{
    width: 361px;
    height: 90px;
    font-size: 30px;
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;
   
}
.posPrice{
    width: 359px;
    height: 34px;
    font-weight: bold;
    /* margin-bottom: 10px; */
}

.PJTitle{
    font-weight: bold;
}

/* 以下為ProductChoiceTicket的修改 */

.DetailDate{
    width: 362px;
    height: 174px;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
}

.TicketTitle{
    text-align: left;
    margin-top: 5px;
}


/* 以下為ConfirmDetail的修改 */

.billInfo{
    margin-bottom: 20px;
}

.TicketName{
    font-weight: bold;
    text-align: left;
}
.TicketNumber,.TicketPay{
    text-align: right;
    color: #666666;
    font-weight: bold;
}
.TicketPrice{
    font-weight: bold;
    text-align: right;
}



/* 1025新增 */
.paymentFuncBill{
    width: 250px;
    height: 135px;
    border-radius: 20px;
    /* background-color: #fff; */
    color: #666;
    margin: 10px;
    text-align: center;
    padding:20px;
    line-height: 2em;
    font-size: 22px;  
    z-index: 1;  
}
.paymentFuncBill p{
    font-size: 22px;
    color: #666;
   
    z-index: 2;
}