html {
  background-color: #cd005c !important;
}

.secUseBKC {
  background-color: #cd005c !important;
}

.logoJPG_container {
  top: 250px;
  left: 30px;
  position: absolute;
}

.logoJPG {
  width: 720px;
  height: 142px;
}

.ticket_bar {
  background-color: #cd005c !important;
}

.ticket_barColor {
  background-color: #cd005c !important;
}
